<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="saulo.com.sunshine">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ForecastTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="saulo.com.sunshine.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="saulo.com.sunshine.DetailActivity" />
        </activity>

        <provider
            android:name=".data.WeatherProvider"
            android:authorities="saulo.com.sunshine" />

        <receiver android:name=".services.SunshineService$AlarmReceiver" android:enabled="true"/>
        <service android:name=".services.SunshineService"/>
    </application>

</manifest>
